<div class="user-profile user-card mb-4">
    <div class="card-header border-0 p-0 pb-0">
        <div class="cover-img-block">
            <div class="overlay"></div>
            <div class="change-cover">
                <div class="dropdown" ngbDropdown placement="bottom-left">
                    <a class="drp-icon dropdown-toggle" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        ><i class="icon feather icon-camera"></i
                    ></a>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript:"><i class="feather icon-upload-cloud mr-2"></i>upload new</a>
                        <a class="dropdown-item" href="javascript:"><i class="feather icon-image mr-2"></i>from photos</a>
                        <a class="dropdown-item" href="javascript:"><i class="feather icon-film mr-2"></i> upload video</a>
                        <a class="dropdown-item" href="javascript:"><i class="feather icon-trash-2 mr-2"></i>remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body py-0">
        <div class="user-about-block m-0">
            <div class="row">
                <div class="col-md-4 text-center mt-n5">
                    <div class="change-profile text-center">
                        <div class="dropdown w-auto d-inline-block" ngbDropdown>
                            <a class="dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                                <div class="profile-dp">
                                    <div class="position-relative d-inline-block">
                                        <img class="img-radius img-fluid wid-100" src="assets/images/user/avatar-5.jpg" alt="User image" />
                                    </div>
                                    <div class="overlay">
                                        <span>change</span>
                                    </div>
                                </div>
                                <div class="certificated-badge">
                                    <i class="fas fa-certificate text-c-blue bg-icon"></i>
                                    <i class="fas fa-check front-icon text-white"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:"><i class="feather icon-upload-cloud mr-2"></i>upload new</a>
                                <a class="dropdown-item" href="javascript:"><i class="feather icon-image mr-2"></i>from photos</a>
                                <a class="dropdown-item" href="javascript:"><i class="feather icon-shield mr-2"></i>Protact</a>
                                <a class="dropdown-item" href="javascript:"><i class="feather icon-trash-2 mr-2"></i>remove</a>
                            </div>
                        </div>
                    </div>
                    <h5 *ngIf="userData" class="mb-1">{{ userData.name }}</h5>
                    <p class="mb-2 text-muted">Software Developer</p>
                </div>
                <div class="col-md-8 mt-md-4">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="javascript:" class="mb-1 text-muted d-flex align-items-end text-h-primary"
                                ><i class="feather icon-globe mr-2 f-18"></i>www.strategyec.com</a
                            >
                        </div>
                        <div class="col-md-4">
                            <div class="clearfix"></div>
                            <a href="mailto:demo@domain.com" class="mb-1 text-muted d-flex align-items-end text-h-primary"
                                ><i class="feather icon-mail mr-2 f-18"></i>{{ userData.email }}</a
                            >
                        </div>
                        <div class="col-md-4">
                            <div class="clearfix"></div>
                            <a href="javascript:" class="mb-1 text-muted d-flex align-items-end text-h-primary"
                                ><i class="feather icon-phone mr-2 f-18"></i>{{ userData.phone}}</a
                            >
                        </div>
                    </div>
                    <ul class="nav nav-tabs profile-tabs nav-fill" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a
                                class="nav-link text-reset"
                                [ngClass]="{ active: this.activeTab === 'profile' }"
                                (click)="this.activeTab = 'profile'"
                                id="profile-tab"
                                data-toggle="tab"
                                href="javascript:"
                                role="tab"
                                aria-controls="profile"
                                aria-selected="false"
                                ><i class="feather icon-user mr-2"></i>Perfil</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link text-reset"
                                [ngClass]="{ active: this.activeTab === 'paids' }"
                                (click)="this.activeTab = 'paids'"
                                id="paids-tab"
                                data-toggle="tab"
                                href="javascript:"
                                role="tab"
                                aria-controls="paids"
                                aria-selected="false"
                                ><i class="feather icon-credit-card mr-2"></i>Pagos</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- profile body start -->
<div class="row">
    <div class="col-md-8 order-md-2">
        <div class="tab-content" id="myTabContent">
            <div
                class="tab-pane fade"
                [ngClass]="{ 'show active': this.activeTab === 'profile' }"
                id="profile"
                role="tabpanel"
                aria-labelledby="profile-tab"
            >
                <div class="merge-card">
                    <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Datos Personales</h5>
                        <button
                            type="button"
                            (click)="this.editProfile = !this.editProfile; this.editProfileIcon = this.editProfile ? 'icon-x' : 'icon-edit'"
                            class="btn btn-primary btn-sm rounded m-0 float-right"
                            data-toggle="collapse"
                            data-target=".pro-det-edit"
                            aria-expanded="false"
                            aria-controls="pro-det-edit-1 pro-det-edit-2"
                        >
                            <i class="feather" [ngClass]="editProfileIcon"></i>
                        </button>
                    </app-card>
                    <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile">
                        <div class="form-group row"  *ngIf="userData">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Nombre</label>
                            <div class="col-sm-9">{{ userData.name }} {{userData.lastName}}</div>
                        </div>
                        <!-- <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Gender</label>
                            <div class="col-sm-9">Male</div>
                        </div> -->
                        <!-- <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Birth Date</label>
                            <div class="col-sm-9">16-12-1994</div>
                        </div> -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Location</label>
                            <div class="col-sm-9" *ngIf="apiData">
                                <p class="mb-0 text-muted">{{ apiData.ciudad }}</p>
                                <p class="mb-0 text-muted">{{ apiData.calle }}</p>
                                <p class="mb-0 text-muted">Codigo Postal: {{ apiData.codigoPostal }}</p>
                            </div>
                        </div>
                    </app-card>
                    <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Full Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Full Name" value="Lary Doe" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Gender</label>
                            <div class="col-sm-9">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input
                                        type="radio"
                                        id="customRadioInline1"
                                        name="customRadioInline1"
                                        class="custom-control-input"
                                        checked
                                    />
                                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" />
                                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Birth Date</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" value="1994-12-16" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Martail Status</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Select Marital Status</option>
                                    <option>Married</option>
                                    <option selected>Unmarried</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Location</label>
                            <div class="col-sm-9">
                                <textarea class="form-control">
4289 Calvin Street,  Baltimore, near MD Tower Maryland, Maryland (21201)</textarea
                                >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </app-card>
                </div>
                <div class="merge-card">
                    <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Contact Information</h5>
                        <button
                            type="button"
                            (click)="this.editContact = !this.editContact; this.editContactIcon = this.editContact ? 'icon-x' : 'icon-edit'"
                            class="btn btn-primary btn-sm rounded m-0 float-right"
                            data-toggle="collapse"
                            data-target=".pro-det-edit"
                            aria-expanded="false"
                            aria-controls="pro-det-edit-1 pro-det-edit-2"
                        >
                            <i class="feather" [ngClass]="editContactIcon"></i>
                        </button>
                    </app-card>
                    <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editContact">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Mobile Number</label>
                            <div class="col-sm-9">+1 9999-999-999</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Email Address</label>
                            <div class="col-sm-9">Demo@domain.com</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Twitter</label>
                            <div class="col-sm-9">@phonixcoded</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Skype</label>
                            <div class="col-sm-9">@phonixcoded demo</div>
                        </div>
                    </app-card>
                    <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editContact">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Mobile Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Full Name" value="+1 9999-999-999" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Email Address</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Ema" value="Demo@domain.com" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Twitter</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Full Name" value="@phonixcoded" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Skype</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Full Name" value="@phonixcoded demo" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </app-card>
                </div>
                <div class="merge-card">
                    <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Other Information</h5>
                        <button
                            type="button"
                            (click)="
                                this.editOtherInfo = !this.editOtherInfo;
                                this.editOtherInfoIcon = this.editOtherInfo ? 'icon-x' : 'icon-edit'
                            "
                            class="btn btn-primary btn-sm rounded m-0 float-right"
                            data-toggle="collapse"
                            data-target=".pro-det-edit"
                            aria-expanded="false"
                            aria-controls="pro-det-edit-1 pro-det-edit-2"
                        >
                            <i class="feather" [ngClass]="editOtherInfoIcon"></i>
                        </button>
                    </app-card>
                    <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editOtherInfo">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Occupation</label>
                            <div class="col-sm-9">Designer</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Skills</label>
                            <div class="col-sm-9">C#, Javascript, Scss</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Jobs</label>
                            <div class="col-sm-9">Codedthemes</div>
                        </div>
                    </app-card>
                    <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editOtherInfo">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Occupation</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Full Name" value="Designer" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Skill</label>
                            <div class="col-sm-9">
                                <div class="custom-control custom-checkbox form-check d-inline-block mr-2">
                                    <input type="checkbox" class="custom-control-input" id="pro-wrk-chk-1" checked />
                                    <label class="custom-control-label" for="pro-wrk-chk-1">C#</label>
                                </div>
                                <div class="custom-control custom-checkbox form-check d-inline-block mr-2">
                                    <input type="checkbox" class="custom-control-input" id="pro-wrk-chk-2" checked />
                                    <label class="custom-control-label" for="pro-wrk-chk-2">Javascript</label>
                                </div>
                                <div class="custom-control custom-checkbox form-check d-inline-block mr-2">
                                    <input type="checkbox" class="custom-control-input" id="pro-wrk-chk-3" checked />
                                    <label class="custom-control-label" for="pro-wrk-chk-3">Scss</label>
                                </div>
                                <div class="custom-control custom-checkbox form-check d-inline-block mr-2">
                                    <input type="checkbox" class="custom-control-input" id="pro-wrk-chk-4" />
                                    <label class="custom-control-label" for="pro-wrk-chk-4">Html</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Jobs</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Ema" value="Codedthemes" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </app-card>
                </div>
            </div>
            <div
                class="tab-pane fade"
                [ngClass]="{ 'show active': this.activeTab === 'paids' }"
                id="paids"
                role="tabpanel"
                aria-labelledby="paids-tab"
            >
                <app-card [hidHeader]="true" blockClass="d-flex align-items-center justify-content-between">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Detalle</th>
                                <th>Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let transaccion of transacciones">
                                <td>{{ transaccion.fecha }}</td>
                                <td>{{ transaccion.detalle }}</td>
                                <td>{{ transaccion.monto }}</td>
                            </tr>
                        </tbody>
                    </table>
                </app-card>
            </div>
        </div>
    </div>
    <div class="col-md-4 order-md-1">
        <app-card cardTitle="Message" cardClass="new-cust-card" blockClass="p-0 scrollable-body">
            <perfect-scrollbar [style.max-height]="'415px'" [style.padding-top]="0">
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-1.jpg" alt="user image" class="img-radius align-top m-r-15" />
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>Alex Thompson</h6>
                        </a>
                        <p class="m-b-0">Cheers!</p>
                        <span class="status active"></span>
                    </div>
                </div>
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius align-top m-r-15" />
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>John Doue</h6>
                        </a>
                        <p class="m-b-0">stay hungry!</p>
                        <span class="status active"></span>
                    </div>
                </div>
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-3.jpg" alt="user image" class="img-radius align-top m-r-15" />
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>Alex Thompson</h6>
                        </a>
                        <p class="m-b-0">Cheers!</p>
                        <span class="status deactive">30 min ago</span>
                    </div>
                </div>
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-4.jpg" alt="user image" class="img-radius align-top m-r-15" />
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>John Doue</h6>
                        </a>
                        <p class="m-b-0">Cheers!</p>
                        <span class="status deactive">10 min ago</span>
                    </div>
                </div>
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-5.jpg" alt="user image" class="img-radius align-top m-r-15" />
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>Shirley Hoe</h6>
                        </a>
                        <p class="m-b-0">stay hungry!</p>
                        <span class="status active"></span>
                    </div>
                </div>
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-1.jpg" alt="user image" class="img-radius align-top m-r-15" />
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>John Doue</h6>
                        </a>
                        <p class="m-b-0">Cheers!</p>
                        <span class="status active"></span>
                    </div>
                </div>
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius align-top m-r-15" />
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>Jon Alex</h6>
                        </a>
                        <p class="m-b-0">stay hungry!</p>
                        <span class="status active"></span>
                    </div>
                </div>
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-3.jpg" alt="user image" class="img-radius align-top m-r-15" />
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>John Doue</h6>
                        </a>
                        <p class="m-b-0">Cheers!</p>
                        <span class="status deactive">10 min ago</span>
                    </div>
                </div>
            </perfect-scrollbar>
        </app-card>
    </div>
</div>
<!-- profile body end -->