<div class="landing-page-container">
    <div class="hero-section" style="text-align: center;">
        <h1>Bienvenido a nuestra plataforma de limpieza</h1>
        <h4>Ofrecemos los mejores servicios de limpieza en la ciudad.</h4>
    </div>
    <div class="container-fluid" style="text-align: center;">
        <img src="assets/images/servicioprincipal.jpg" alt="principal" />
    </div>
    <div class="Direccion" style=" color: blue; text-align: center;">   
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" />
        <button class="button" style="color:blue; border-radius: 5%;" onclick="agregarDireccion()">Empezar</button>
    </div>
    
</div>
<app-card cardTitle="NOSOTROS SOMOS CLEAN NOW" style="text-align: center;">
    
        <h5>MISION</h5>
        La misión de Clean Now es brindar servicios de limpieza de alta calidad y confiables en Trujillo,
        asegurando la satisfacción total de nuestros clientes. Nos comprometemos a mantener estándares
        excepcionales en cada trabajo, enfocándonos en la atención meticulosa al detalle y la eficiencia en
        nuestras tareas. A través de un equipo altamente capacitado y comprometido, nos esforzamos por superar
        las expectativas de nuestros clientes y garantizar un entorno limpio y saludable en sus hogares y
        lugares de trabajo. Además, nos comprometemos a impulsar prácticas sostenibles y responsables con el
        medio ambiente, utilizando productos ecológicos y promoviendo la conciencia ambiental en nuestra
        industria y en la comunidad en general. Nuestra misión es ser el socio confiable de nuestros clientes en
        la limpieza, brindándoles tranquilidad y comodidad a través de un servicio excepcional y comprometido.
    
</app-card>
<app-card cardTitle ="VISION" style="text-align: center;">
        "Nuestra visión es ser la principal plataforma en línea para servicios de limpieza en la ciudad de Trujillo,
        reconocida por ofrecer soluciones de calidad, confiables y convenientes para la comunidad. Nos esforzamos por ser
        líderes en el mercado, brindando un servicio excepcional que supera las expectativas de nuestros clientes. Buscamos
        establecernos como el referente en el sector de limpieza en la ciudad, proporcionando una experiencia en línea fácil
        de usar, segura y efectiva para solicitar servicios de limpieza profesionales. Nuestra visión es contribuir a la
        mejora del bienestar y la calidad de vida de los habitantes de Trujillo, al proporcionar servicios de limpieza
        confiables y eficientes que creen espacios más saludables, seguros y agradables para vivir y trabajar. Trabajamos en
        estrecha colaboración con nuestros clientes y proveedores para mantener una reputación sólida y lograr un
        crecimiento sostenible en el mercado de servicios de limpieza en la ciudad de Trujillo".
    
</app-card>
<app-card cardTitle="NUESTROS VALORES" style="text-align: center;">
    
        <h3>COMPROMISO</h3>
        "Nos comprometemos a brindar un servicio excepcional y confiable a nuestros clientes, cumpliendo con los más altos
        estándares de calidad y seguridad. Nos esforzamos por superar las expectativas de nuestros clientes y garantizar su
        satisfacción total, brindándoles tranquilidad y comodidad a través de un servicio excepcional y comprometido".
</app-card>


  

