<div class="landing-page-container">
    <div class="hero-section" style="text-align: center;">
        <h1>Bienvenido a nuestra plataforma de limpieza</h1>
        <p>Ofrecemos los mejores servicios de limpieza en la ciudad.</p>
    </div>
    <div class="container">
        <h2>Empezamos</h2>
        
          <label for="direccion">Dirección:</label>
          <input type="text" id="direccion" />
        </div>
        <button class="button" style="color:blue;" onclick="agregarDireccion()">Agregar</button>
    </div>
    <app-card cardTitle="NOSOTROS SOMOS CLEAN NOW">
        <p class="p-t-20">
        <h1>MISION</h1>
            La misión de Clean Now es brindar servicios de limpieza de alta calidad y confiables en Trujillo,
            asegurando la satisfacción total de nuestros clientes. Nos comprometemos a mantener estándares
            excepcionales en cada trabajo, enfocándonos en la atención meticulosa al detalle y la eficiencia en
            nuestras tareas. A través de un equipo altamente capacitado y comprometido, nos esforzamos por superar
            las expectativas de nuestros clientes y garantizar un entorno limpio y saludable en sus hogares y
            lugares de trabajo. Además, nos comprometemos a impulsar prácticas sostenibles y responsables con el
            medio ambiente, utilizando productos ecológicos y promoviendo la conciencia ambiental en nuestra
            industria y en la comunidad en general. Nuestra misión es ser el socio confiable de nuestros clientes en
            la limpieza, brindándoles tranquilidad y comodidad a través de un servicio excepcional y comprometido.
        </p>
    </app-card>
</div>