<app-navigation
    class="pcoded-navbar"
    [ngClass]="{
        'navbar-collapsed': navCollapsed,
        'theme-horizontal': this.nextConfig['layout'] === 'horizontal',
        'mob-open': navCollapsedMob
    }"
    (onNavMobCollapse)="navMobClick()"
></app-navigation>
<app-nav-bar
    class="navbar pcoded-header navbar-expand-lg navbar-light header-blue"
    (onNavCollapse)="this.navCollapsed = !this.navCollapsed"
    (onNavHeaderMobCollapse)="navMobClick()"
></app-nav-bar>
<div class="pcoded-main-container">
    
</div>
<app-configuration></app-configuration>
