


<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="CONOCE A CLEAN NOW">
            <p class="p-t-20">
                La misión de Clean Now es brindar servicios de limpieza de alta calidad y confiables en Trujillo,
                asegurando la satisfacción total de nuestros clientes. Nos comprometemos a mantener estándares
                excepcionales en cada trabajo, enfocándonos en la atención meticulosa al detalle y la eficiencia en
                nuestras tareas. A través de un equipo altamente capacitado y comprometido, nos esforzamos por superar
                las expectativas de nuestros clientes y garantizar un entorno limpio y saludable en sus hogares y
                lugares de trabajo. Además, nos comprometemos a impulsar prácticas sostenibles y responsables con el
                medio ambiente, utilizando productos ecológicos y promoviendo la conciencia ambiental en nuestra
                industria y en la comunidad en general. Nuestra misión es ser el socio confiable de nuestros clientes en
                la limpieza, brindándoles tranquilidad y comodidad a través de un servicio excepcional y comprometido.
            </p>
        </app-card>
    </div>
</div>