.landing-page-container {
    width: 100%;
    text-align: center;
}

.hero-section {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.info-section {
    background-color: #fff;
    padding: 50px 0;
}

.image-section {
    background-color: #f9f9f9;
    padding: 50px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
}